*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(89, 132, 132);
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vh;
    width: 19vh; 
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    background-color: rgb(221, 232, 153);
    color: brown;
}

#Reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: rgb(202, 214, 217);
    box-shadow: 0 0 1rem rgb(230, 224, 224);
    border: none;
}

#new_btn{

    padding: 1rem;
    font-size: 1.25rem;
    color: aliceblue;
    border-radius: 1rem;
    background-color: rgb(46, 49, 50);
    box-shadow: 0 0 1rem rgb(230, 224, 224);
    border: none;
}

#msg{
    color: antiquewhite;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}